{# templates/main/about.html.twig #}
{% extends 'main/layout.html.twig' %}

{# {% block nav %}
    <ul>
        <li><a href="{{ path('start') }}">Start</a></li>
        <li><a href="{{ path('game_one_hundred_index') }}">Game 100</a></li>
        <li><a href="{{ path('me') }}">Me</a></li>
    </ul>
{% endblock %} #}

{% block content %}
    <p>Katjas main-innehåll på about-sidan!</p>
    <h3>{{ about }}</h3>
{% endblock %}
